# vim temp files
*.swp
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*pb.cc
*pb.h
deps-debug/
deps-release/
cmake-build-debug/
cmake-build-release/
cmake-build-release-release/
build/
build-debug/
build-release/
CMakeFiles/
CMakeCache.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai *.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log path
make_config.mk
logs/
lib/
output/
*.log

# DB
db/
dump/
src/dbsync/

# third party
gdb.txt
tags

# IDE
.vscode

# generate
make_config.mk
src/*.d
src/build_version.cc

#cache
.cache

.idea/


#build
build-release/
build-debug/
buildtrees
deps
deps-debug/
deps-release/

#develop container
.devcontainer

# include codis fe javascript lib files
!codis/cmd/fe/assets/**

tests/tmp
bin

compile_commands.json

# build support
build_support/__pycache__
build_support/clang_format_exclusions.txt

# pkg
pkg
