name: ci
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  license-check:
    name: license header check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: check license header
        uses: apache/skywalking-eyes/header@main

  format:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
          - os: windows-latest
    name: cargo fmt
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt

      - name: Run fmt
        run: make fmt

  cargo-clippy:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
          - os: windows-latest
    name: cargo clippy
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: clippy

      - uses: Swatinem/rust-cache@v2

      - run: make lint

  cargo-miri:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
          - os: windows-latest
    name: cargo miri
    runs-on: ${{ matrix.os }}
    env:
      # for using system time function.
      MIRIFLAGS: "-Zmiri-disable-isolation"
    steps:
      - uses: actions/checkout@v5

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: miri

      - name: Update Rust nightly
        run: rustup update nightly

      - name: Install Miri
        run: rustup component add miri --toolchain nightly

      - run: make miri
