name: ci
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  license-check:
    name: license check
    runs-on: unbuntu-latest
    steps:
      - uses: actions/checkout@v4

  format:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
          - os: windows-latest
    name: cargo fmt
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt

      - name: Run fmt
        run: cargo fmt --manifest-path ./Cargo.toml --all -- --check --unstable-features

  cargo-clippy:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
          - os: windows-latest
    name: cargo clippy
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: clippy

      - uses: Swatinem/rust-cache@v2

      - run: cargo clippy --manifest-path ./Cargo.toml --all-features --workspace -- -D warnings

  cargo-miri:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
          - os: windows-latest
    name: cargo miri
    runs-on: ${{ matrix.os }}
    env:
      # for using system time function.
      MIRIFLAGS: "-Zmiri-disable-isolation"
    steps:
      - uses: actions/checkout@v4

      - name: Setup toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: miri

      - name: Update Rust nightly
        run: rustup update nightly

      - name: Install Miri
        run: rustup component add miri --toolchain nightly

      - run: cargo miri test --manifest-path ./Cargo.toml --all-features --workspace
